tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}
    
table{
     height:620px;
     display: -moz-groupbox;
}

tbody{
      overflow-y: scroll;      
      height: 620px; 
      width: 99%;
      position: absolute;
}