{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" type= "text/css" href= "../static/style.css">
{% endblock %}

{% block nav %}
<ul class="nav nav-tabs">
  <li class="nav-item"></li>
      <a class="nav-link active" href="/">Logs</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/configs">Configs</a>
  </li>
</ul>
{% endblock %}

{% block content %}
    <!-- <div class="row">
      <div class="col-md-12">
        <form method="POST" action="upload" class="container" enctype="multipart/form-data">
          <div class="col-md-12" align="center">
            <label><h1>Configs</h1></label>
          </div>
          <div class="col-md-12">
            <label>Office</label>
            <select class="form-control" name="dol_office" >
              {% for office in dol_office %}
                <option value="{{office}}">{{office}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-12">
            <label>Telephone number</label>
            <input class="form-control" type="text" name="dol_telephone_number">
          </div>
          <div class="col-md-12">
            <label>QR Code</label>
            <input class="form-control" type="file" name="dol_qrcode" style="padding: 3px;">
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Upload</button>
          </div>
        </form>
      </div>
    </div> -->

      <!-- <div class="col-md-4">
          <div class="col-md-12">
              <a href="{{ url_for('run_script') }}" class="btn btn-outline-success btn-lg btn-block" >Start Program</a>
          </div>
          <div class="col-md-12">
            <a href="{{ url_for('run_script') }}" class="btn btn-outline-danger btn-lg btn-block" >Stop Program</a>
          </div>
          <div class="col-md-12">
            <label>Status program</label>
            <br>
            <span class="badge badge-pill badge-success">Active</span>
            <br>
            <span class="badge badge-pill badge-danger">In Active</span>
          </div>
        </div> -->

      <!-- <div class="col-md-4">
        <image src="{{ url_for('static',filename='images/queue.png') }}" width="390px" height="auto">
      </div> -->

  <div class="col-md-12" align="center">
    <label><h1>Logs Queue</h1></label>
  </div>

  <!-- <div class="col-md-12">
    {% for name in logs_file_name %}
      <a class="link" href="../logs/{{name}}">{{name}}</a>
    {% endfor %}
  </div> -->

  <form class="form-inline" method="POST" action="view" enctype="multipart/form-data">
    <div class="form-group mx-sm-3 mb-2">
      <select class="form-control" name="viewDate">
        {% for name in logs_file_name %}
          <option value="{{name}}">{{name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
      <label class="form-check-label" for="inlineRadio1">Filter</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Download</label>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>

  <form class="form-group" method="GET" action="/">
    <button type="submit" class="btn btn-warning mb-2">Clear filter</button>
  </form>

  <div class="col-md-12">
    <table class="table">
      <thead class="thead-dark" align="center">
        <tr>
          <th scope="col">Timestamp</th>
          <th scope="col">Queue</th>
        </tr>
      </thead>
      <tbody align="center">
        {% for (key, value) in logs_file_dicts.items() %}
          <tr>
            <th scope="row">{{key}}</th>
            <td>{{value}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}